# NIPS - DEMO

In [7]:
from scontrol import random_rct, diagnostic, fill_tensor

## 1 - Input

In [18]:
rct_data = random_rct(N = 10, I = 2, T = 10, T0 = 5, rank = 2, sigma = 0.3)#Change sigma for unperfect decisions
pre_df, post_df = rct_data

In [19]:
pre_df

   unit intervention       t_0       t_1       t_2       t_3       t_4
0  id_0      inter_0 -1.391053  0.964455 -0.103940  0.224775 -0.139838
1  id_1      inter_0 -1.111546  1.080054 -0.789325  0.471478 -0.168000
2  id_2      inter_0  0.016388  0.158925 -0.022236 -0.427309 -0.020844
3  id_3      inter_0  0.506360  0.017172  0.357353 -0.542259 -0.546441
4  id_4      inter_0  1.844637 -1.214178  0.666390  0.147659  0.376861
5  id_5      inter_0 -0.370714  0.405752  0.268508 -0.179396 -0.096901
6  id_6      inter_0  1.639688 -1.061650 -0.018444 -0.113138  0.046234
7  id_7      inter_0 -0.480071  0.319335 -0.187722 -0.080581 -0.303098
8  id_8      inter_0  1.001330 -0.262477  0.541497 -0.583260  0.329855
9  id_9      inter_0  0.523984 -0.472987 -0.372895 -0.082598  0.226497

In [20]:
post_df

   unit intervention       t_5       t_6       t_7       t_8       t_9
0  id_0      inter_0  0.967400  0.749408 -1.036610  0.853402 -0.684843
1  id_1      inter_1 -1.692216 -1.918579  2.380961 -1.407003  0.106664
2  id_2      inter_1  0.658470  0.772071 -0.713244  0.132752  1.310828
3  id_3      inter_1  0.773189  1.252529 -1.264431  0.099641 -0.542106
4  id_4      inter_0 -0.877872 -1.039886  2.010461 -0.975317  0.942465
5  id_5      inter_0 -0.539617 -0.064532 -0.186303 -0.334123 -0.534692
6  id_6      inter_0 -0.437720 -1.799291  2.489516 -1.182911  0.854386
7  id_7      inter_0  0.888219  0.180818  0.229946 -0.196752 -0.052839
8  id_8      inter_1  1.366364  1.239610 -2.396818  1.678597  0.228791
9  id_9      inter_0 -0.526744 -0.491617  0.079728 -0.627446  0.204614

## 2 - Diagnostic

In [21]:
diagnostic(rct_data,rank=2)

  intervention  cum. energy at 2 (%)  Valid (>90)
0      inter_0             94.686060         True
1      inter_1             95.092578         True

## 3 - Output

In [22]:
fill_tensor(rct_data, rank = 2)

    unit intervention       t_5       t_6       t_7       t_8       t_9
0   id_0      inter_0  0.622616  1.040730 -1.457719  0.837023 -0.732769
1   id_0      inter_1 -1.371129 -1.382601  2.085161 -1.481263  0.117838
2   id_1      inter_0  0.821651  0.751060 -1.417283  0.624932 -0.591260
3   id_1      inter_1 -1.654491 -1.713008  2.524788 -1.699490  0.114481
4   id_2      inter_0  0.061770  0.009059 -0.067974  0.010446 -0.015829
5   id_2      inter_1  0.243995  0.390849 -0.399264 -0.021329  0.068855
6   id_3      inter_0 -0.217187 -0.154307  0.338647 -0.131107  0.129589
7   id_3      inter_1  0.969264  1.308448 -1.538506  0.395725  0.122056
8   id_4      inter_0 -1.088705 -1.144713  1.999618 -0.943304  0.873720
9   id_4      inter_1  1.737124  1.634154 -2.618866  2.107852 -0.222179
10  id_5      inter_0  0.087295  0.413180 -0.421858  0.323339 -0.264100
11  id_5      inter_1 -0.095902  0.020693  0.122978 -0.334588  0.081061
12  id_6      inter_0 -0.664587 -1.225997  1.649652 -0.982165  0.851664
13  id_6      inter_1  1.461725  1.466164 -2.221418  1.594467 -0.130457
14  id_7      inter_0  0.311635  0.296097 -0.546688  0.245683 -0.231036
15  id_7      inter_1 -0.397612 -0.315614  0.588054 -0.597428  0.087097
16  id_8      inter_0 -0.569057 -0.469400  0.940269 -0.393687  0.378843
17  id_8      inter_1  1.346683  1.520990 -2.079741  1.134071 -0.014608
18  id_9      inter_0 -0.094016 -0.575322  0.560391 -0.448682  0.363122
19  id_9      inter_1  0.315611  0.239060 -0.464545  0.496774 -0.076245